{% extends "main.html" %}

{% block title %}Contact Us{% endblock title %}

{% block body %}
{% load static %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left crousal_cls">
  <div class="col-md-5 p-lg-5 mx-4">
    <h1 class="display-4 fw-normal">Contact Us</h1>
    <p class="lead fw-normal">
      A perfect platform for broadcasting your data. And storing your data like
      Photos, Videos, Documents on cloud.
    </p>
  </div>
</div>

  <div class="container ">
    <div class="row justify-content-md-center">
    <div class="col-md-auto p-5 border border-4 rounded-3 ">
        <p class="text-center">For all enquiries, please email us using the form below.</p>
      <form class="p-2 bg-light border rounded-3">
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>

            <div class="input-group mb-3">
                <input type="text" aria-label="First name" class="form-control" placeholder="Rohan" >
                <input type="text" aria-label="Last name" class="form-control" placeholder="Kumar">
              </div>
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="rohankumar@gmail.com">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>
    </div>
  </div>










{% endblock body %}













